extends ./admin

block main
  table(lay-data="{ url:'/user/comments', page:true, id:'idTest'}", lay-filter="demo").layui-table
    thead
      tr
        th(lay-data="{field:'article', align:'center', templet: res => res.article.title}") 被评文章
        th(lay-data="{field:'content', align:'center'}") 评论内容
        th(lay-data="{field:'created', align:'center', templet: res => (new Date(res.created)).toLocaleString()}") 评论时间
        th(lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}") 操作
  script(type="text/html")#barDemo
    a(lay-event="delete").layui-btn.layui-btn-danger.layui-btn-xs 删除


  script.
    layui.use(['table', 'layer'], function(){
      const table = layui.table
      const layer = layui.layer
      const $ = layui.$
      //监听事件 删除按钮 固定写法
      table.on("tool(demo)", (obj) => {
        const data = obj.data
        //- console.log(data)
        // 评论id
        const commentId = data._id
        // 文章id
        const articleId = data.article._id
        console.log('评论id ' + commentId)
        console.log('文章id ' + articleId)

        //删除判断 是否删除 确定 取消
        if(obj.event !== "delete") return

        layer.confirm("确认删除？", () => {
          $.ajax({
            url: "/comment/" + commentId,
            method: "delete",
            data: {
              articleId
            },
            success(res){
              if(res.state){
                layer.msg(res.message, {
                  anim: 1,
                  time: 800
                }, () => location.reload())
                console.log(res)
              }else{
                console.error(msg.error)
                console.log('请求失败')
              }
            }
          })
        })
      })
    })
