.blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="") HTML
      li
        a(href="") CSS
      li
        a(href="") JavaScript
      li
        a(href="") Vue.js
      li
        a(href="") react
      
      
    .blog-column-right
      a(href="/article").layui-btn 发表文章